<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <title><%= data.title %> - Express CRUD</title>
</head>
<body>
    <h1><%= data.title %></h1>

    <%-include('layout/menu.ejs')%>

    <div class="content">
        <%-include(data._content)%>
    </div>

    <%-include('layout/footer.ejs')%>
</body>
</html>