<form action="/users" method="POST">
    <div class="input-group">
        <label for="">Name</label>
        <input type="text" name="name" id="name" required>
    </div>

    <div class="input-group">
        <label for="">Email</label>
        <input type="email" name="email" id="email" required>
    </div>
    <input type="submit" value="Save">
</form>