<% 
    if (data.users.length>0){
%>
    <form action="/users/<%= data.users[0].id %>?_method=PUT" method="POST">
        <div class="input-group">
            <label for="">Name</label>
            <input type="text" name="name" id="name" value="<%= data.users[0].name %>" required>
        </div>
    
        <div class="input-group">
            <label for="">Email</label>
            <input type="email" name="email" id="email" value="<%= data.users[0].email %>" required>
        </div>
        <input type="submit" value="Save">
    </form>
<%
    }else{
%>
    Data tidak ditemukan
<%
    }
%>