<ul>
    <% data.users.forEach(user => { %>
        <li style="margin-bottom: 20px;">
            <a href="/users/<%= user.id %>/edit"><%= user.name %></a>
            | 
            <form action="/users/<%= user.id %>?_method=DELETE" method="POST" style="display:inline;">
                <input type="submit" value="HAPUS">
            </form>
        </li>
    <% }) %>
</ul>